# Set the name of the server as it appears on the server browser (replacing My Server with the name of your choice).
SERVER_NAME=FCGF My awesome ISMC Mod server

# The start map
START_MAP=Farmhouse

# You may define an entry with an override game mode as some game modes can share scenarios.
SCENARIO=Scenario_Farmhouse_Checkpoint_Security

# Maximum number of players that can join the server. On coop servers, this is only the number of human players.
MAX_PLAYERS=12

# In order for your server to be able to authenticate with the stats server,
# you must authenticate your server through using a Steam GSLT (Game Server Login Token).
GSLT_TOKEN=

# Any Insurgency: Sandstorm community server is capable of hosting a stats-enabled game.
# In order to accomplish this, you must first generate a GameStats Token.
GAME_STATS_TOKEN=

# A comma separated list of 64-bit Steam IDs (aka steamID64) to be admin on the server.
# (Is automatically written to Admins.txt)
ADMINS=76561197960287930

# Message of the day
MESSAGE_OF_THE_DAY=Have fun on the ISMC Hardcore server

# Skip steam game data update and validation
SKIP_UPDATE_VALIDATION=true

#################
## MOD SECTION ##
#################
# Enable mods with by filling any in ENABLE_MODS variable
ENABLE_MODS=true
MOD_IO_TOKEN=
MODS=150867,167049
MOD_DOWNLOAD_TRAVEL_TO=TORO?Scenario=Scenario_TORO_Checkpoint_Security
MUTATORS=ISMCarmory_legacy,ImprovedAI,NoRestrictedArea,ScaleBotAmount,AdvancedSupplyPoints,WelcomeMessage,JoinLeaveMessage,FpLegs,JumpShoot,AllYouCanEat,FullyLoaded

#####################
##   MapCycle.txt  ##
#####################
MAP_CYCLE="
Scenario_Sheds_Checkpoint_Security
(Scenario=Scenario_TORO_Checkpoint_Security,Lighting=Day,Mode=Checkpoint)
Scenario_CompoundCity_Checkpoint_Security
Scenario_Highlands_Checkpoint_Security
Scenario_MountainPass_Checkpoint
Scenario_Noshahr_Canals_Checkpoint_Security
Scenario_Prison_Checkpoint_Security
Scenario_Macedonia_Checkpoint_Security
(Scenario=Scenario_ps_cp_sec,Mode=Checkpoint,Lighting=Day)
Scenario_Frost_Checkpoint_Security
Scenario_SultanOfDrugs_Checkpoint_Security
Scenario_Mud_Village_Checkpoint_Security
(Scenario=Scenario_Temple_CP_Sec,Mode=Checkpoint,Lighting=Day)
(Scenario=Scenario_Safehouse_Checkpoint_Security,Lighting=Day)
Scenario_Diplomacy_Checkpoint_Security
Scenario_SaltMine_Checkpoint_Security
Scenario_LastLight_Checkpoint_Security
Scenario_Mintaqah_Checkpoint_Security
Scenario_Operation_Metro_Checkpoint_Security
Scenario_Coastline_Checkpoint_Security
Scenario_Oasis_Checkpoint_Security
(Scenario=Scenario_Payout_Checkpoint_Security,Mode=Checkpoint,Lighting=Day)
(Scenario=Scenario_West_Checkpoint_Security)
(Scenario=Scenario_Stork_Castle_Checkpoint_Security,Lighting=Day)
(Scenario=Scenario_Factory_Checkpoint_Security,Lighting=Day)
(Scenario=Scenario_RedwoodReborn_Checkpoint,Lighting=Day)
(Scenario=Scenario_RedwoodReborn_Checkpoint,Lighting=Rain)
(Scenario=Scenario_RedwoodReborn_Checkpoint,Lighting=Winter)
Scenario_TheGreenZone_Checkpoint_Security
Scenario_AbadHills_Checkpoint_Security
(Scenario=Scenario_der_Riese_CP_Sec,Mode=Checkpoint,Lighting=Day)
(Scenario=Scenario_PeakReborn_Checkpoint,Lighting=Day)
(Scenario=Scenario_City_Checkpoint_Security,Lighting=Day)
"

#################
##   Game.ini  ##
#################
GAME_INI="
[/Script/Insurgency.Mutator_HeadshotOnly]
bCheckMeleeDamage=true

"

