# Set the name of the server as it appears on the server browser (replacing My Server with the name of your choice).
SERVER_NAME="My awesome ISMC Mod server"

# The start map
START_MAP=Town

# You may define an entry with an override game mode as some game modes can share scenarios.
SCENARIO=Scenario_Hideout_Checkpoint_Security

# Maximum number of players that can join the server. On coop servers, this is only the number of human players.
MAX_PLAYERS=12

# In order for your server to be able to authenticate with the stats server,
# you must authenticate your server through using a Steam GSLT (Game Server Login Token).
GSLT_TOKEN=//TODO

# Any Insurgency: Sandstorm community server is capable of hosting a stats-enabled game.
# In order to accomplish this, you must first generate a GameStats Token.
GAME_STATS_TOKEN=//TODO

# A comma separated list of 64-bit Steam IDs (aka steamID64) to be admin on the server.
# (Is automatically written to Admins.txt)
ADMINS=//TODO

# Message of the day
MESSAGE_OF_THE_DAY="Have fun on the ISMC Hardcore server"


#################
## MOD SECTION ##
#################
# Enable mods with by filling any in ENABLE_MODS variable
ENABLE_MODS=true
MOD_IO_TOKEN=//TODO
MODS=150867
MOD_DOWNLOAD_TRAVEL_TO=
MUTATORS=ISMC_Hardcore,AllYouCanEat,FullyLoaded

#################
##   Game.ini  ##
#################
GAME_INI="
[/Script/Insurgency.Mutator_HeadshotOnly]
bCheckMeleeDamage=true

"