# Set the name of the server as it appears on the server browser (replacing My Server with the name of your choice).
SERVER_NAME="My awesome server"

# The start map
START_MAP=Oilfield

# You may define an entry with an override game mode as some game modes can share scenarios.
SCENARIO=Scenario_Refinery_Checkpoint_Insurgents

# Maximum number of players that can join the server. On coop servers, this is only the number of human players.
MAX_PLAYERS=12

# In order for your server to be able to authenticate with the stats server,
# you must authenticate your server through using a Steam GSLT (Game Server Login Token).
GSLT_TOKEN=

# Any Insurgency: Sandstorm community server is capable of hosting a stats-enabled game.
# In order to accomplish this, you must first generate a GameStats Token.
GAME_STATS_TOKEN=

# A comma separated list of 64-bit Steam IDs (aka steamID64) to be admin on the server.
# (Is automatically written to Admins.txt)
ADMINS=

# Message of the day
MESSAGE_OF_THE_DAY=

# Skip steam game data update and validation
SKIP_UPDATE_VALIDATION=

#################
## MOD SECTION ##
#################
# Enable mods with by filling any in ENABLE_MODS variable
ENABLE_MODS=
MOD_IO_TOKEN=
MODS=
MOD_DOWNLOAD_TRAVEL_TO=
MUTATORS=

#####################
##   MapCycle.txt  ##
#####################
MAP_CYCLE=

#################
##   Game.ini  ##
#################
GAME_INI="
[/Script/Insurgency.INSMultiplayerMode]
bAutoRecordReplaysDedicated=True
bHandleDedicatedServerReplays=True

"


#################
##   Engine.ini  ##
#################
ENGINE_INI="
[/Script/Engine.Engine]
bAllowMatureLanguage=True
bSmoothFrameRate=True
bUseFixedFrameRate=False
SmoothedFrameRateRange=(LowerBound=(Type=Inclusive,Value=30.000000),UpperBound=(Type=Exclusive,Value=120.000000))

"
